@import 'ez-core';
@import "ez-responsive";

$ezInputFontSize: $ezResponsiveNormalFontSize;
$ezMarketingInputFontSize: $ezResponsiveMarketingNormalFontSize;
$ezInputLabelFontSize: $ezResponsiveSmallFontSize;
$ezMarketingInputLabelFontSize: $ezResponsiveMarketingSmallFontSize;

// Generic Input Styles
input {
    font-family: $ezFontFamilyRoboto, $ezFontFamilyVerdana, $ezFontFamilySansSerif;
    font-size: $ezInputFontSize;
    padding: 4px;
    display: block;
    background-color: $ezClockerWhite;
    border-color: $ezClockerGray;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    &:focus {
        border-color: #ff9900;
        outline-color: #ff9900;
        outline-style: solid;
        outline-width: 1px;
        box-shadow: 0 0 2px 1px rgba(255, 153, 0, .3);
    }
}

label.ez-input-label {
    display: block;
    background-color: transparent;
    color: $ezClockerBlack;
    font-family: $ezFontFamilyRoboto, $ezFontFamilyVerdana, $ezFontFamilySansSerif;
    font-size: $ezInputLabelFontSize;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 4px;
}

label.ez-marketing-input-label {
    display: block;
    background-color: transparent;
    color: $ezClockerBlack;
    font-family: $ezFontFamilyRoboto, $ezFontFamilyVerdana, $ezFontFamilySansSerif;
    font-size: $ezMarketingInputLabelFontSize;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    margin-top: 8px;
}

div.ez-input-box {
    text-align: left;
    background-color: transparent;
    padding: 20px;
}

div.ez-center-input-button-box {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    padding-top: 10px;
}

a.ez-input-link {
    background-color: transparent;
    font-size: $ezInputLabelFontSize;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 4px;
}

a.ez-marketing-input-link {
    background-color: transparent;
    font-size: $ezMarketingInputLabelFontSize;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 4px;
}

input[type="password"].ez-hidden-input-password {
    display: none;
    font-family: monospace;
}

// Marketing Inputs
input.marketing {
    font-size: $ezMarketingInputFontSize;
}

// Password Inputs
input[type="password"] {
    font-family: monospace;
}

// Date Inputs
input[type="date"] {
    font-family: monospace;
}

// Date Time Inputs
input[type="datetime"] {
    font-family: monospace;
}

// Date Time Local Inputs
input[type="datetime-local"] {
    font-family: monospace;
}

// File Inputs
input[type="file"] {
    font-family: monospace;
}

// Month Inputs
input[type="month"] {
    font-family: monospace;
}

// Number Inputs
input[type="number"] {
    font-family: monospace;
}

// Telephone Input
input[type="tel"] {
    font-family: monospace;
}

// Time input
input[type="time"].ezTime {
    font-family: monospace;
}

// Week Input
input[type="week"].ezWeek {
    font-family: monospace;
}

// Radio Inputs
input[type="radio"] {
    padding-bottom: 4px;
}
input[type="radio"]:focus {
    padding-bottom: 4px;
}

// ez-reset-major input button
input[type="reset"].ez-reset-major {
    background-color: #ff9900;
    border-radius: 2px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}
input[type="reset"].ez-reset-major:hover {
    background-color: #ffcc66;
}
input[type="reset"].ez-reset-major:active {
    background-color: #ff9933;
}

// ez-reset-action input button
input[type="reset"].ez-reset-action-button {
    background-color: #8df13c;
    border-radius: 2px;
    border: 1px solid #439400;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}
input[type="reset"].ez-reset-action-button:hover {
    background-color: #caff9e;
}
input[type="reset"].ez-reset-action-button:active {
    color: #caff9e;
    background-color: #439400;
}

// ez-reset-edit input button
input[type="reset"].ez-reset-edit {
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    padding: 4px;
    text-decoration: none;
}
input[type="reset"].ez-reset-edit:hover {
    background-color: #edf6ff;
}
input[type="reset"].ez-reset-edit:active {
    background-color: $ezClockerGray;
}

// Search input button
input[type="search"] {
    font-size: $ezInputFontSize;
    padding: 4px;
    background-color: $ezClockerWhite;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

// ez-input-submit-major button
input[type="submit"].ez-input-submit-major {
    background-color: #ff9900;
    border-radius: 2px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}
input[type="submit"].ez-input-submit-major:hover {
    background-color: #ffcc66;
}
input[type="submit"].ez-input-submit-major:active {
    background-color: #ff9933;
}

input[type="submit"].ezSubmitActionButton {
    background-color: #8df13c;
    border-radius: 2px;
    border: 1px solid #439400;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}

input[type="submit"].ezSubmitActionButton:hover {
    background-color: #caff9e;
}

input[type="submit"].ezSubmitActionButton:active {
    color: #caff9e;
    background-color: #439400;
}

// Submit input button
input[type="submit"] {
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    padding: 4px;
    text-decoration: none;
}
input[type="submit"]:hover {
    background-color: #edf6ff;
}
input[type="submit"]:active {
    background-color: $ezClockerGray;
}


/* Other Input Related Styles */

// Other Input Related Styles
.ezInputLabel {
    font-size: 14;
    padding-top: 4px;
    padding-bottom: 2px;
    /* color: var(--ezClockerBlack); */
    color: #000000;
}

.editorLabel {
    font-size: 14;
    color: #000000;
    padding-top: 4px;
    padding-bottom: 2px;
}

.oversizedEditor {
    font-size: 16pt;
    font-style: bold;
}

.fullWidthEditor {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


// Generic option styles
option {
    font-size: $ezInputFontSize;
    padding: 4px;
    background-color: $ezClockerWhite;
    border-color: $ezClockerGray;
    border-style: solid;
    border-width: 1px;
    margin: 4px 4px 4px 0;
}
option:focus {
    border-color: #ff9900;
    outline-color: #ff9900;
    outline-style: solid;
    outline-width: 1px;
    /* box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, .2); */
    box-shadow: 0 0 2px 1px rgba(255, 153, 0, .3);
}


// Genercic Select Input Styles
select {
    font-size: $ezInputFontSize;
    padding: 4px;
    background-color: $ezClockerWhite;
    border-color: $ezClockerGray;
    border-style: solid;
    border-width: 1px;
    margin: 4px 4px 4px 0;
}
select:focus {
    border-color: #ff9900;
    outline-color: #ff9900;
    outline-style: solid;
    outline-width: 1px;
    /* box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, .2); */
    box-shadow: 0 0 2px 1px rgba(255, 153, 0, .3);
}

/* Specific Select Input Styles */

// ez-reports-override select box
select.ez-reports-override {
    font-size: $ezInputFontSize;
    padding: 4px;
    background-color: $ezClockerWhite;
    border-color: $ezClockerGray;
    border-style: solid;
    border-width: 1px;
    margin: 4px 4px 4px 0;
}
select.ez-reports-override:focus {
    border-color: #ff9900;
    outline-color: #ff9900;
    outline-style: solid;
    outline-width: 1px;
    /* box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, .2); */
    box-shadow: 0 0 2px 1px rgba(255, 153, 0, .3);
}
