/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| DEPRECATED
| Remove or migrate to alternate solutions for all CSS classes in this file
| CSS variables defined in: /src/main/webapp/public/styles/common/ez-body.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* DEPRECATED */img.loader {
    padding: 0;
    margin: 0;
    border-style: none;
    border-width: 0;
    float: right;
}

/* DEPRECATED */div.loaderContainer {
    position: absolute;
    z-index: 100;
}
