/** DEPRECATED **/

div.progressDiv {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .4;
}

div.progressImageDiv {
    width: 128px;
    height: 128px;
}
