/*
    Used in the following:
    (updated: 2021.02.22)
    
    passwordReset.html
*/

div.ezFixedDialogBox {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgb(250 250 250 / 60%);
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 35px;
}

.ezFixedDialogLogoContainer {
    vertical-align: middle;
    text-align: center;
    font-size: 14pt;
    margin-bottom: 10px;
}

.ezFixedDialogLogoImage {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.ezFixedDialogSubBanner {
    text-align: center;
    font-size: 24pt;
    font-weight: normal;
    color: #808080;
}

.ezFixedDialogBanner {
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.ezFixedDialogInputLabel {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 4px;
}

.ezFixedDialogInput {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 18pt;
}

.ezDialogInputTitle {
    font-weight: bold;
    font-size: 16pt;
}

input.ezDialogTextInput {
    width: 100%;
    font-size: 18pt;
}

/** Password Viewer Styles **/

img.viewPasswordImage {
    display: none;
    width: 24px;
    height: 24px;
    padding: 0;
}

td.passwordPeekContainer {
    width: 24px;
    border-style: none;
    margin: 0;
    padding: 0;
}

div.passwordPeek {
    text-align: left;
    padding: 4px;
    background-color: rgb(15 71 119 / 40%);
    color: #ffffff;
    font-weight: bold;
    font-family: monospace;
    font-size: 12pt;
    word-wrap: break-word;
    position: absolute;
}

div.passwordPeekBlank {
    text-align: left;
    font-style: italic;
}

.ui-effects-transfer {
    background-color: rgb(15 71 119 / 25%);
    border-style: dashed;
    border-width: 1px;
    border-color: #000000;
}

pre.visualPasswordSpace {
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 1px;
    border-color: #7cd0fd;
    padding: 0;
    margin: 0;
}

div.peekCountDown {
    text-align: center;
    display: hidden;
    color: #0f4777;
    font-size: 12pt;
    font-family: monospace;
    font-weight: bold;
}

.ezClockerPasswordResetHeader {
    width: 100%;
    background-color: #7CD0FD;
    padding: 5px;
    box-shadow: inset 1px 1px 10px #EEEEEE;
    border: 1px solid black;
    border-radius: 2px;
    margin: -6px;
}

.ezClockerLogoText {
    font-family: monospace;
    font-weight: bold;
    font-size: 48pt;
    color: #000000;
    padding-bottom: 3px;
}

.ezClockerLogoImage {
    width: 60px;
    height: 60px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    margin-right: 4px;
    padding: 0;
    margin-bottom: auto;
    margin-top: auto;
}

.ezClockerCatchPhrase {
    text-align: right;
    vertical-align: top;
    font-size: 16pt;
    font-family: sans-serif;
    color: #000000;
    position: absolute;
    margin-top: -19px;
    margin-left: 50px;
}

.passwordResetBox {
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px #EEEEEE;
    margin-top: 35px;
    margin-bottom: 20px;
}

.resetPasswordBanner {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;

    /*
	text-shadow: -1px 0 #B26B00, 0 1px #B26B00, 1px 0 #B26B00, 0 -1px #B26B00;
	*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FF9900;
    padding: 5px;
    text-align: center;
}

.passwordResetButton {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255 153 0 / 100%);
    color: black;
    border: 1px solid #E19100;
    padding: 4px;
    border-radius: 4px;
    height: 30px;
    width: 70px;
    float: right;
    margin: 1px;
}

.passwordResetTable {
    width: 100%;
}
