div.fold1 {
    background: rgb(0, 102, 178);
    /* Old browsers */
    background: rgb(0, 102, 178);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0, 102, 178, 1) 0%, rgba(0, 138, 237, 1) 56%, rgba(0, 127, 219, 1) 56%, rgba(0, 145, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0, 102, 178, 1)), color-stop(56%, rgba(0, 138, 237, 1)), color-stop(56%, rgba(0, 127, 219, 1)), color-stop(100%, rgba(0, 145, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(0, 102, 178, 1) 0%, rgba(0, 138, 237, 1) 56%, rgba(0, 127, 219, 1) 56%, rgba(0, 145, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(0, 102, 178, 1) 0%, rgba(0, 138, 237, 1) 56%, rgba(0, 127, 219, 1) 56%, rgba(0, 145, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(0, 102, 178, 1) 0%, rgba(0, 138, 237, 1) 56%, rgba(0, 127, 219, 1) 56%, rgba(0, 145, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(135deg, rgba(0, 102, 178, 1) 0%, rgba(0, 138, 237, 1) 56%, rgba(0, 127, 219, 1) 56%, rgba(0, 145, 255, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066b2', endColorstr='#0091ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

body.index {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
    min-width: 300px;
    background-image: url("../../images/background/gray-background.png");
    /* background-color: #EDF6FF; */
    /*
	background:
		radial-gradient(#E0E0E0 15%, transparent 16%) 0 0,
		radial-gradient(#E0E0E0 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#EDF6FF;
	background-size:16px 16px;
	*/
    /*
	background: #edf6ff;
	background-image: url("../images/background/bg1.png");
	*/
}
