.ezClockerMainMenu2015 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    color: #000000;
    font-weight: bold;
    border-style: solid;
    border-color: #6d6e70;
    border-width: 1px;
    border-top-width: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ezEmployeeSelectContainer {
    padding: 4px;
}