div.conversionFunnelBar {
    width: 95%;
    background-color: #0000ff;
    color: #ffffff;
    padding: 4px;
}

div.conversionFunnelContainer {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
}

div.conversionFunnelEditorContainer {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
}
