.ezToggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ezToggleSwitchLabel {
    width: 33%;
}

.ezToggleSwitch input {
    display: none;
}

.ezToggleSwitchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: .4s;
}

.ezToggleSwitchSlider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.ezToggleSwitch {
    background-color: #2196F3;
}

input:focus+.ezToggleSwitch {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

/* Rounded sliders */
.ezToggleSwitch.round {
    border-radius: 34px;
}

.ezToggleSwitch.round::before {
    border-radius: 50%;
}